@import "reset.module.scss";

.container,
.mockInput {
	display: flex;
}

.container {
	.mockInput {
		align-items: center;
		column-gap: 0.25em;

		&::before {
			content: "";
			height: 0.75em;
			width: 0.75em;
			border-radius: 50%;
			background: var(--red);
		}
	}

	input:checked {
		opacity: 0.5;
	}

	input:checked ~ .mockInput {
		&::before {
			background: var(--orange);
		}
	}
}
