@import "reset.module.scss";

.container,
.mock {
	display: flex;
	user-select: none;
}

.container {
	.mock {
		column-gap: 0.25em;

		&-input {
			height: 0.75em;
			width: 0.75em;
			border-radius: 50%;
			background: transparent;
			border: 1px solid var(--black);
			position: relative;

			&::before {
				position: absolute;
				margin: auto;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				content: "";
				height: 0.35em;
				width: 0.35em;
				border-radius: 50%;
			}
		}
	}

	input:checked ~ .mock {
		.mock-input {
			&::before {
				background-color: var(--black);
			}
		}
	}
}
